@using Microsoft.AspNetCore.Mvc.Localization
@using Marci.PathPlanningSystem.Localization
@inject IHtmlLocalizer<PathPlanningSystemResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
